# Replace with your DB credentials!
DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Public Google Client ID for One Tap (same as GOOGLE_CLIENT_ID, but exposed to client)
PUBLIC_GOOGLE_CLIENT_ID=
SMTP_HOST=
SMTP_PORT=587
SMTP_EMAIL_VERIFICATION_MAIL=
SMTP_OTP_VERIFICATION_MAIL=
SMTP_WELCOME_MAIL=
SMTP_SUPPORT_MAIL=
SMTP_PASSWORD_RESET_MAIL=
SMTP_PASSWORD=
